* {
  background-color: Gray;
  font-family: 'Montserrat', sans-serif;
}

.info-footer {
  display: block;
  border: 4px solid DarkGray;
  border-radius: 1em;
  height: 135px;
  position: relative;
}

.med-text {
  text-height: 3px
}

