* {
  background-color: Gray;
  font-family: 'Montserrat', sans-serif;
}

.info-footer {
  display: block;
  border: 5px solid DarkGray;
  border-radius: 1em;
  height: 375px;
  position: relative;
}

.med-text {
  text-height: 3px
}

.wide-spacing {
  height: 300px;
}

